/* styles.css */

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Adjust the space between buttons */
    padding: 10px; /* Add some padding around the buttons */
  }
  
  .horizontal-scroll::-webkit-scrollbar {
    display: none; /* This is to hide the scrollbar in Webkit browsers */
  }
  
  /* Ensure buttons have the same width */
  .button-fixed-width {
    min-width: 90px; /* Adjust the width as needed */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  