.navigation-arrow {
    width: 10vw; /* Adjust this value between 5vw to 10vw based on your preference */
    height: auto;
} 


body {
    font-family: 'Arial', sans-serif;
    background-color: #f1faee; /* Mint Cream */
    margin: 0;
    padding: 0;
}

button {
    background-color: #a8dadc; /* Powder Blue */
    color: #333;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #457b9d; /* Steel Blue */
}


.current-location {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    z-index: 1000; /* Ensure the dropdown is above other elements */
}

.current-location select {
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    cursor: pointer;
}


.button-container {
    position: relative;
    transition: transform 0.5s ease;
    text-align: center;
    z-index: 10;
}
/* State of the buttons when they move upwards */
.button-container.move-up {
    transform: translateY(0); /* Adjust this value as needed */
}

.button-click {
    opacity: 1;
    transform: translateY(50px); 
    transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s; /* Delayed to wait for the button animation */
    display: flex; /* Add this */
    flex-wrap: wrap; /* Add this */
    justify-content: center; /* Add this */
}
/* State of the buttons when they move upwards */
.button-click.clicked {
    opacity: 0; /* Adjust this value as needed */
    transform: translateY(0);
}



/* Initial state of the shop container */
.shop-container {
    opacity: 0;
    transform: translateY(50px); /* Starting a bit below */
    transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s; /* Delayed to wait for the button animation */
    display: flex; /* Add this */
    flex-wrap: wrap; /* Add this */
    justify-content: center; /* Add this */
}


/* State of the shop container when it appears */
.shop-container.visible {
    opacity: 1;
    transform: translateY(0);
}


.shop-card {
    width: calc(33.33% - 20px);
    margin: 20px 10px; 
    background-color: #f4f4f4; /* Light Gray */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    width: calc(33.33% - 20px); /* Roughly for a 3-column layout */
    box-sizing: border-box;
}

.shop-name, .shop-category, .shop-discount, .shop-description {
    margin: 10px 0;
}

.navigate-btn {
    display: block;
    margin: 20px auto 0;
}

.location-header {
    text-align: right;
    padding: 10px 20px;
    background-color: #457b9d; /* Steel Blue */
    color: #f1faee; /* Mint Cream */
    position: sticky;
    top: 0;
    z-index: 10;
}



/* Mobile Responsive Styles */
@media (max-width: 768px) { /* This is for tablets and mobile devices */
    
    .shop-card {
        width: calc(50% - 20px); /* 2-column layout for tablets */
        margin: 10px;
    }

    button {
        padding: 12px 18px; /* Slightly larger buttons for touch devices */
    }

    .shop-name, .shop-category, .shop-discount, .shop-description {
        margin: 8px 0; /* Slightly reduced margins */
        font-size: 14px; /* Slightly smaller font */
    }
}

@media (max-width: 480px) { /* This is for mobile devices */
    
    .shop-card {
        width: 100%; /* 1-column layout for mobile */
        margin: 10px 0; /* Only vertical margin */
    }

    .shop-name, .shop-category, .shop-discount, .shop-description {
        font-size: 12px; /* Even smaller font for mobile */
    }
}

.route-item {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: 'Arial', sans-serif;
}

.route-item h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

.route-item p {
    font-size: 14px;
    color: #555;
}


.route-item input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}
